# Secrets
.env

# Excel or CSV files with personal data
*.xlsx
*.xls
*.csv

# Common Python ignore patterns (optional, adjust if you're not using Python)
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
.envrc
.Python
*.png
*.pdf
*.yml
*.pth
Home_use/
Old_files_tests/
layoutparser_models/
Batch_folder/
Batch_exported_pictures/
*.jpg
*.jpeg
*.svg
*.json
*.zip
*.rar
*.ods

